.freeTrial{
        background-color: #63646d;
        font-size: 1.2rem;
        color: white;
        border:  solid #30f0c6;
      }    
.freeTrial:hover {
        background-color: white;
        color: #63646d;
      }
 
