.home {
    font-family: lmb;
    text-align: center;
    font-size: 1.7rem;
    color: #63646d;
    margin: 0.5rem 1rem 0.5rem 1rem;
    }
    
.background{
    background-image: url(../../img/Greeting/vrik-phone.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh;
    width: 100vw; 
    }
.freeTrial{
        background-color: #63646d;
        font-family: lmm;
        padding: 0.5rem;
        margin: 0.5rem;
        font-size: 1.2rem;
        color: white;
        border:  solid #30f0c6;
      }    
.freeTrial:hover {
        background-color: white;
        color: #63646d;
      }
.center{
    text-align: center;
    justify-content: center;
}
.mainDescription{
    color: #63646d;
    font-size: 1.4rem;
    text-align: justify;
    padding: 1rem;
    line-height: 1.6;
    font-family: ttl;
}
.title{
    font-family: lmm;
    font-size: 1.4rem;
    color: #585A73;
}

    @media screen and (min-width: 685px) {
        .background{
          background-image: url(../../img/Greeting/vrik-large.jpg)
        }
        .home {
            margin: 0.5rem;
            }
      
    }