.greeting {
    font-family: inherit;
    font-size: 1.5rem;
    justify-items: end;
    color: rgb(59, 59, 59);
    }
.background{
    background-image: url(../../img/Greeting/vrik-phone.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh;
    width: 100vw 
    }
    
    @media screen and (min-width: 685px) {
        .background{
          background-image: url(../../img/Greeting/vrik-large.jpg)
        }
    }