.greeting {
    font-family: inherit;
    font-size: 1.5rem;
    justify-items: end;
    color: rgb(59, 59, 59);
    }
.background{
    background-image: url(../../img/Greeting/vrik-phone.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh;
    width: 100vw 
    }
    .freeTrial{
      background-color: #63646d;
      color: white;
      border:  solid #30f0c6;
    }    
    .freeTrial:hover {
      background-color: white;
      color: #63646d;
    }
    @media screen and (min-width: 685px) {
        .background{
          background-image: url(../../img/Greeting/vrik-large.jpg)
        }
    }